@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    scroll-behavior: smooth;
}
html {
    font-size: 6px;
    @media only screen and (min-width: 640px) {
        font-size: 8px;
    }
    @media only screen and (min-width: 1024px) {
        font-size: 10px;
    }
}

body {
    background-color: var(--bg-site);
    font-family: var(--default-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--header-font);
    font-weight: 900;
}

h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3rem;
}
h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 2rem;
}
h5 {
    font-size: 1.5rem;
}
h6 {
    font-size: 1rem;
}

section {
    scroll-margin-top: 10.25rem;
    @media only screen and (min-width: 640px) {
        scroll-margin-top: 12rem;
    }
}

.innerContent {
    padding-top: 10.25rem;
    @media only screen and (min-width: 640px) {
        padding-top: 12rem;
    }
}
